<h1>Points#index</h1>

  <% Game.all.each do |game| %>
  <p>Game:  <%=game.name %></p>

  <% User.all.each do |user| %>
<% if user.points.where(game_id: game.id).length >0 %>

  <p>High Score: <%= user.points.where(game_id: game.id).max_by{|point| point.score.to_i}.score %> belongs <%= user.username %></p>

  <% end %>
  <% end %>
  <% end %>
