<div id="game-header">
  <h1><%= link_to 'Hangman', games_hangman_path %></h1>
  <h1><%= link_to 'Memory', games_memory_path %></h1>
</div>

<div id="game-art">
  <%= image_tag "/images/pokemon-art2.png" %>
</div>
