// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: auto;
  height: auto;
}

#bottom-info{
  float: right;
  margin-top: -360px;
  margin-left: -300px;
  margin-right: 100px;
}
